@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
/* MAIN */
.main-container {
  height: 100vh;
  font-family: Roboto;
  text-rendering: optimizeLegibility;
}
/*
/* HEADER */
header {
  width: 1300px;
  margin: 0 auto;
  background-color: white;
  height: 120px;
  display: flex;
  align-items: center;
  /* border: solid 2px #2db0ba; */
}
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
}

.logo-style {
  height: 45px;
  width: 120px;
  cursor: pointer;
}

/*
/* HEADER SEARCH */
.searchbar-and-filter {
  margin-left: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.searchbar-style {
  background-color: #f5f6f7;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #cbcccd;
}
.block-left-searchImage {
  flex: calc(5%);
  height: 20px;
  width: 20px;
  padding: 5px 0px 5px 5px;
}
.glassIcon {
  width: 75%;
  height: auto;
  filter: opacity(50%);
  image-rendering: smooth;
}
.block-right-searchbar {
  flex: calc(95%);
}
.searchbar {
  border: none;
  height: 35px;
  background-color: #f5f6f7;
  padding-left: 10px;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  font-family: Roboto;
  text-rendering: optimizeLegibility;
}
.header-filter {
  /* border: solid 1px blue; */
}
/*
/* FILTER */
.filter-offers {
  height: 40px;
  flex: 3;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.PriceFilter-AToZ {
  padding-left: 5px;
  height: 100%;
  flex: 1;
  display: flex;
  border: solid 1px goldenrod;
  align-items: center;
}
.PriceFilter-Reduce {
  padding-left: 5px;
  height: 100%;
  flex: 2;
  display: flex;
  border: solid 1px green;
  align-items: center;
}
/*
/* HEADER USER BUTTON */
.buttons-header {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  gap: 10px;
  align-items: center;
}
.btn-with-link {
  text-decoration: none;
}
.connexion-Btn,
.inscription-Btn,
.disconnexion-Btn {
  padding: 15px;
  height: 30px;
  color: #2db0ba;
  border: solid 1px #2db0ba;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sell-Btn {
  height: 30px;
  border: none;
  color: white;
  background-color: #2db0ba;
  border-radius: 5px;
  padding: 15px;
  margin-left: 30px;
  margin-right: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/*
/* HERO */
.hero-vinted-image {
  position: relative;
}
.heroVintedImg {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
.torn-image {
  display: flex;
  justify-content: right;
}
.home-hero-torn-effect {
  position: absolute;
  width: calc((100% / 3) * 2);
  bottom: 0;
}
.StartToSales {
  position: absolute;
  top: 20%;
  left: 17%;
  background-color: white;
  border-radius: 3px;
  /* border: solid 1px black; */
  padding: 20px;
  height: 230px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.StartToSales {
  justify-content: center;
  gap: 40px;
  font-size: 36px;
  font-weight: 350;
}
.StartToSales-Btn {
  height: 50px;
  border: none;
  color: white;
  background-color: #2db0ba;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
/*
/* PAGE HOME */

.home-big-container-offer {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 30px auto;
}
.home-container-offer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.home-top-offer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.home-bottom-offer {
  padding: 5px;
}
.home-avatar-img {
  object-fit: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.home-offer-username {
  color: lightgray;
  font-size: 14px;
}
.home-offers-img {
  width: 240px;
  height: 360px;
  object-fit: cover;
}
.home-offer-price {
  font-size: 20px;
  padding: 2px;
}
.home-offer-size {
  color: lightgray;
  font-size: 14px;
  padding: 2px;
}
.home-offer-brand {
  color: lightgray;
  font-size: 14px;
  padding: 2px;
}
/*
/* PAGE OFFER */
.offer-container {
  padding-top: 30px;
  background-color: #ebedee;
  display: flex;
  justify-content: center;
  gap: 200px;
  /* height: 82vh; */
  height: 83%;
}
.offer-img-offer {
  height: 600px;
  width: 450px;
  border-radius: 3px;
}
.offer-block-left {
}
.offer-block-right {
  box-sizing: border-box;
  height: 600px;
  width: 400px;
  border-radius: 3px;
  background-color: white;
  padding: 40px;
}
.offer-price {
  font-size: 24px;
  margin-bottom: 30px;
}
.offer-details-style {
  display: flex;
}
.offer-name-details {
  color: #bcbcbb;
}
.offer-value-detail {
  margin-left: 70px;
}
.container-offer-name-details {
  /* border: solid 1px blue; */
}
.container-offer-value-details {
  /* border: solid 1px green; */
}
.offer-block-BOTTOM {
  border-top: #ebedee solid 1px;
  margin-top: 50px;
  padding-top: 50px;
}
.offer-name {
  font-weight: 500;
  font-size: 18px;
}
.offer-description {
  margin-top: 15px;
  color: #bcbcbb;
  font-size: 18px;
  line-height: 20px;
}
.offer-user-details {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.offer-avatar-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.offer-username {
  color: black;
  font-size: 18px;
}
.button-buy {
  margin-top: 50px;
}
.button-submit-buy {
  border: none;
  display: flex;
  margin: 0 auto;
  width: 300px;
  padding: 5px;
  height: 35px;
  color: white;
  border-radius: 5px;
  background-color: #2db0ba;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/*
/* PAGE SIGNUP & LOGIN */
.big-container-offer {
  width: 1300px;
  /* border: solid 1px pink; */
}
.container-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px #2db0ba;
  border-radius: 5px;
  margin-top: 50px;
  align-items: center;
}
.title-form {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.inscription-form {
  margin: 0 auto;
}
.inscription-form input {
  width: 300px;
  height: 30px;
}
.inscription-form ::placeholder {
  font-size: 16px;
}
.user-name,
.user-mail,
.user-password,
.user-newsletter {
  margin: 30px auto;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border: solid 1px blue;
}
.user-newsletter {
  display: flex;
  align-items: center;
}

.conditions-form {
  margin: 0 auto;
  width: 300px;
  font-size: 14px;
  color: grey;
}

.signup-Btn,
.login-Btn {
  border: none;
  display: flex;
  margin: 0 auto;
  width: 300px;
  padding: 15px;
  height: 30px;
  color: white;
  border-radius: 5px;
  background-color: #2db0ba;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
}

.already-signed {
  margin-top: 10px;
  color: #2db0ba;
  font-size: 16px;
}
.link-inscription {
  text-decoration: none;
}

/*
/* LOADING ANIMATION */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.loading-style {
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30vh auto;
  padding: 5px;
}
.loading-title {
  display: flex;
  font-family: "VT323", monospace, arial, serif;
  font-size: 26px;
  color: #2db0ba;
}
.loading-bowl {
  display: flex;
  gap: 10px;
}
.bowl1,
.bowl2,
.bowl3 {
  display: flex;
  background-color: #2db0ba;
  width: 10px;
  height: 10px;
}
.bowl1 {
  animation: bounce 1s infinite;
}
.bowl2 {
  animation: bounce 1s infinite;
  animation-delay: 0.1s;
}
.bowl3 {
  animation: bounce 1s infinite;
  animation-delay: 0.2s;
}
@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
